@font-face {
    font-family: Roboto Regular;
    src: url(../fonts/RobotoCondensed-Regular.ttf);
}

@font-face {
    font-family: Roboto Bold;
    src: url(../fonts/RobotoCondensed-Bold.ttf);
}

* {
    font-family: "Roboto Regular";
}


body {
    background-color: black;
    margin: 0;
    box-sizing: border-box;
    height: 100%;
    overflow: scroll;
}

#wrapper {
    border-radius: 25px;
    height: 100vh;
    padding: 3vh;
    box-sizing: border-box;
    margin: 0;
    overflow: scroll;
    display: flex;
    flex-direction: column;
}

.background_img {
    background-image: url(../media/logo.png);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}

header {
    display: flex;
    justify-content: space-between;
    height: 30px;
    box-sizing: border-box;
}

#logo {
    background-image: url(../media/logo.png);
    background-position: center;
    background-size: cover;
    height: 4.7vh;
    width: 4.7vh;
    margin-top: -6px;
}

#title {
    font-size: 5vw;
}

main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.main_login_register {
    margin-top: 12vh;
}

main>input {
    width: 97.5%;
    height: 4vh;
}

main>p {
    margin-bottom: -1px;
    font-size: 2.6vh;
}


footer {
    box-sizing: border-box;
    margin-top: 10px;
    font-size: 14px;
}

footer>a {
    cursor: pointer;
    color: black;
}

.invisible {
    display: none;
}

#feedback {
    background-color: rgba(255, 255, 255, 0.913);
    padding: 15px;
    border-radius: 10px;
    font-size: 6.5vw;

    margin: 0 2vh;
    position: absolute;
    z-index: 2;
    top: 50%;
    right: 50%;
    transform: translate(54.5%, -50%);
    width: 79vw;
}

#feedback>button {
    background-color: lightgrey;
    padding: 8px;
    border: rgb(181, 181, 181) 1px solid;
    z-index: 1;
    position: relative;
    border-radius: 10px;
    width: 70vw;
    margin-top: 10px;
    font-size: 17px;
}

#feedback>button:hover {
    background-color: rgb(201, 201, 201);
}

#feedback_bg {
    background-color: rgba(255, 255, 255, 0.74);
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    z-index: 1;
    border-radius: 25px;
}