.where_to,
.ready,
#feedback {
    text-align: center;
}

.login_register_head {
    font-size: 6vh;
    text-align: center;
}

.register_btn,
.login_btn {
    justify-content: center;
    width: 100%;
    height: 7vh;
    font-size: 3vh;
    margin-top: 2vh;
    cursor: pointer;
}

.ready {
    font-size: 2.4vh;
    margin-top: 2.5vh;
    padding: 5px;
}

.where_to {
    margin-top: 6vh;
    text-decoration: underline;
    cursor: pointer;
}